@mixin c1   { background:#B8D46C; }
@mixin c1in { background:#CCE285; }
@mixin c2   { background:#3ABCA1; }
@mixin c2in { background:#4ACDB6; }
@mixin c3   { background:#3799DB; }
@mixin c3in { background:#46AEE6; }
@mixin c4   { background:#A26CB8; }
@mixin c4in { background:#B47FC7; }
@mixin c5   { background:#E85A4F; }
@mixin c5in { background:#EF6E62; }
@mixin c6   { background:#F2C81F; }
@mixin c6in { background:#F7D92A; }
